#contenido{
	width: 1000px;
	height: auto;
	margin: auto;
	position: relative;
}
body{
	background:#ffffff url(../img/fondo.jpg) left top repeat-x;
	font-family: 'franklin gothic', heavy;
}
h1{
	color: #006680;
	margin-top: 50px;
	font-size: 40px;
	text-align: right;
}
header{
	background:url(../img/logo_unad.png) no-repeat;
	width: 1000px;
	height: 154px;
}
nav{
	width: 1000px;
	height: 50px; 
}
ul{
	margin: auto;
}
li{
	width:155px;
	height: 12px;
	padding:22px 15px 34px 14px;
	background-repeat: no-repeat;
	background-color: #003f68;
	background-position: bottom;
	border: transparent;
	float: left;
	list-style-type: none;
	padding: 15px;
	background-image: url(../img/fondoazul.jpg);
}
section{
	width: 600px;
	height: 400px;
	float: left;
	margin-top: 20px;
	border-radius: 10px;
	background: white;
	margin-left: 40px;
}
aside{
	width: 305px;
	background: white;
	height:400px;
	float: left;
	margin-left: 20px;
	margin-top: 20px;
	border-radius: 10px; 
}
footer{
	width: 1000px;
	height: 60px;
	float: left;
	text-align: center;
	color: #006680;
	margin-top: 20px;
}
/*CLASES*/
.menu:link{
	color: white;
	text-decoration: none;
}
.menu:visited{
	color: white;
	text-decoration: none;
}
.menu:hover{
	color: white;
	text-decoration: none;
	text-shadow: 0 0 15px white;
}
/*SEUDO CLASES*/